<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="transport-test-suite">
    <parameter name="useDefaultListeners" value="false"/>
    <test name="tests-transports" preserve-order="true" parallel="false">

        <packages>
        </packages>

        <classes>
        </classes>
    </test>
</suite>
