{{headerJs "/js/add-queue-form.js"}}
<div class="page-header" id="forms">
    <!-- Purge Modal -->
    <div class="modal fade" id="new-queue-success-modal" tabindex="-1" role="dialog" aria-labelledby="modalDemo">
        <div class="modal-dialog" role="document">
            <div class="modal-content clearfix">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i
                            class="fw fw-cancel"></i></button>
                    <h3 class="modal-title" id="new-queue-success-message"></h3>
                </div>
                <div class="pull-right">
                    <div class="modal-footer">
                        <a href="/mb/queues/" class="btn btn-primary">See Queue List</a>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="alert alert-danger" role="alert" id="error-alert" style="display:none">
        <i class="icon fw fw-error"></i><strong>Error!</strong><span id="error-message"></span>
        Error occurred while creating queue.
        <button type="button" class="close" aria-label="close" data-hide="alert">
                        <span aria-hidden="true">
                            <i class="fw fw-cancel"></i>
                        </span>
        </button>
    </div>
    <h1>Add New Queue</h1>
    <hr/>
    <form class="form-horizontal" id="new-queue-form">
        <div class="form-group">
            <div class="col-sm-12">
                <label for="input-name" class="control-label">Queue Name <span class="">*</span></label>
                <input type="text" class="form-control" id="queue-name" placeholder="Queue Name" required>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-12">
                <button type="submit" class="btn btn-default btn-primary">Create Queue</button>
            </div>
        </div>
    </form>
</div>