<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="mb-features-test-suite">
    <parameter name="useDefaultListeners" value="false"/>
    <listeners>
        <listener class-name="org.wso2.carbon.automation.core.PlatformTestManager"/>
        <listener class-name="org.wso2.carbon.automation.core.PlatformReportManager"/>
        <listener class-name="org.wso2.carbon.automation.core.PlatformExecutionManager"/>
        <listener class-name="org.wso2.carbon.automation.core.PlatformSuiteManager"/>
        <listener class-name="org.wso2.carbon.automation.core.PlatformAnnotationTransferManager"/>
    </listeners>

    <test name="carbonServerBasedTests" preserve-order="true">
        <classes>
            <class name="org.wso2.carbon.mb.integration.test.carbonServerBasedTests.LoginLogoutTestCase"/>
        </classes>
    </test>
    <test name="AMQPBasedTests" preserve-order="true">
        <classes>
            <!--queue tests-->
            <class name="org.wso2.carbon.mb.integration.test.amqpBasedTests.QueueSubscriptionsBreakAndReceiveTestCase"/>
            <class name="org.wso2.carbon.mb.integration.test.amqpBasedTests.SingleQueueSendReceiveTestCase"/>
            <class name="org.wso2.carbon.mb.integration.test.amqpBasedTests.QueueMessageSequencialAndDuplicateTestCase"/>
            <!--<class name="org.wso2.carbon.mb.integration.test.amqpBasedTests.MultipleQueueSendReceiveTestCase"/>-->
            <class name="org.wso2.carbon.mb.integration.test.amqpBasedTests.ClientAcknowledgementsTestCase"/>
            <class name="org.wso2.carbon.mb.integration.test.amqpBasedTests.QueueMessageRedeliveryWithAckTimeOutTestCase"/>
            <class name="org.wso2.carbon.mb.integration.test.amqpBasedTests.QueueLargeMessageSendReceiveTestCase"/>


            <!-- topic tests -->
            <class name="org.wso2.carbon.mb.integration.test.amqpBasedTests.SingleTopicPublishSubscribeTestCase"/>
            <class name="org.wso2.carbon.mb.integration.test.amqpBasedTests.TopicMessageSequencialAndDuplicateTestCase"/>
            <!--<class name="org.wso2.carbon.mb.integration.test.amqpBasedTests.MultipleTopicPublishSubscribeTestCase"/>-->
            <class name="org.wso2.carbon.mb.integration.test.amqpBasedTests.HierarchicalTopicsTestCase"/>
            <class name="org.wso2.carbon.mb.integration.test.amqpBasedTests.TopicLargeMessagePublishConsumeTestCase"/>


            <!-- durable topic tests-->
            <class name="org.wso2.carbon.mb.integration.test.amqpBasedTests.DurableTopicTestCase"/>


            <!--transactions tests-->
            <!--<class name="org.wso2.carbon.mb.integration.test.amqpBasedTests.JMSSubscriberTransactionsSessionCommitRollbackTestCase"/>-->


            <!--cluster related tests-->

            <!--Security related test cases-->
            <class name="org.wso2.carbon.mb.integration.test.amqpBasedTests.SSLSendReceiveTestCase"/>
        </classes>
    </test>
    <test name="MQTTBasedTests" preserve-order="true">
        <classes>
        </classes>
    </test>
    <!--<test name="eventingBasedTests" preserve-order="true">
        <classes>
            <class name="org.wso2.carbon.mb.integration.test.eventingBasedTests.EventTestCase"/>
        </classes>
    </test>-->
</suite>
