<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="transport-test-suite">
    <parameter name="useDefaultListeners" value="false"/>
    <test name="tests-transports" preserve-order="true" parallel="false">

        <!--<packages>-->
        <!--<package name="org.wso2.mb.integration.tests.amqp.*"/>-->
        <!--</packages>-->

        <classes>
            <!-- functional test cases -->

            <!-- Queue -->

            <class name="org.wso2.mb.integration.tests.amqp.functional.ClientAcknowledgementsTestCase"/>
            <class name="org.wso2.mb.integration.tests.amqp.functional.QueueTestCase"/>
            <class name="org.wso2.mb.integration.tests.amqp.functional.TenantCreateQueueTestCase"/>
            <class name="org.wso2.mb.integration.tests.amqp.functional.SSLSendReceiveTestCase"/>
            <class name="org.wso2.mb.integration.tests.amqp.functional.JMSSubscriberTransactionsSessionCommitRollbackTestCase"/>
            <class name="org.wso2.mb.integration.tests.amqp.functional.QueueMessageSequencialAndDuplicateTestCase"/>
            <class name="org.wso2.mb.integration.tests.amqp.functional.QueueMessageRedeliveryWithAckTimeOutTestCase"/>
            <class name="org.wso2.mb.integration.tests.amqp.functional.MultipleQueueSendReceiveTestCase"/>
            <class name="org.wso2.mb.integration.tests.amqp.functional.MessageContentTestCase"/>


            <!-- Topic -->

            <!--<class name="org.wso2.mb.integration.tests.amqp.functional.TopicTestCase"/>-->
            <!--<class name="org.wso2.mb.integration.tests.amqp.functional.DurableMultipleTopicSubscriberTestCase"/>-->
            <!--<class name="org.wso2.mb.integration.tests.amqp.functional.DurableTopicTestCase"/>-->
            <!--class name="org.wso2.mb.integration.tests.amqp.functional.QueueSubscriptionsBreakAndReceiveTestCase"/-->


            <!-- load test cases-->

            <!-- Queue -->

            <!--class name="org.wso2.mb.integration.tests.amqp.load.QueueLargeMessageSendReceiveTestCase"/-->
            <!--<class name="org.wso2.mb.integration.tests.amqp.load.MultiThreadedQueueTestCase"/>-->
            <!--<class name="org.wso2.mb.integration.tests.amqp.load.QueueAckMixTestCase"/>-->
            <!--<class name="org.wso2.mb.integration.tests.amqp.load.QueueAutoAckSubscriberCloseTestCase"/>-->
            <!--<class name="org.wso2.mb.integration.tests.amqp.load.QueueAutoAckTestCase"/>-->
            <!--class name="org.wso2.mb.integration.tests.amqp.load.MultiThreadedMultipleQueueTestCase"/-->
            <!--<class name="org.wso2.mb.integration.tests.amqp.load.CreateRemoveQueueSubscriptionTestCase"/>-->


            <!-- Topic -->

            <!--<class name="org.wso2.mb.integration.tests.amqp.load.TopicLargeMessagePublishConsumeTestCase"/>-->
            <!--<class name="org.wso2.mb.integration.tests.amqp.load.CreateRemoveTopicSubscriptionTestCase"/>-->
            <!--<class name="org.wso2.mb.integration.tests.amqp.load.MultiThreadedTopicTestCase"/>-->
            <!-- <class name="org.wso2.mb.integration.tests.amqp.load.MultiThreadedMultipleTopicTestCase"/>
            <class name="org.wso2.mb.integration.tests.amqp.load.MultiThreadedMultipleQueueTopicTestCase"/>-->
        </classes>
    </test>
</suite>
