<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="transport-test-suite">
    <parameter name="useDefaultListeners" value="false"/>
    <test name="tests-transports" preserve-order="true" parallel="false">

        <!--<packages>-->
        <!--<package name="org.wso2.mb.integration.tests.amqp.*"/>-->
        <!--</packages>-->

        <classes>
            <!-- functional test cases -->
            <class name="org.wso2.mb.integration.tests.amqp.functional.QueueTestCase"/>
            <class name="org.wso2.mb.integration.tests.amqp.functional.TopicTestCase"/>
            <class name="org.wso2.mb.integration.tests.amqp.functional.TenantCreateQueueTestCase"/>
            <class name="org.wso2.mb.integration.tests.amqp.functional.SSLSendReceiveTestCase"/>

            <!-- load test cases-->

<!--            <class name="org.wso2.mb.integration.tests.amqp.load.QueueLargeMessageSendReceiveTestCase"/>
            <class name="org.wso2.mb.integration.tests.amqp.load.TopicLargeMessagePublishConsumeTestCase"/>
            <class name="org.wso2.mb.integration.tests.amqp.load.CreateRemoveQueueSubscriptionTestCase"/>
            <class name="org.wso2.mb.integration.tests.amqp.load.CreateRemoveTopicSubscriptionTestCase"/>
            <class name="org.wso2.mb.integration.tests.amqp.load.MultiThreadedQueueTestCase"/>
            <class name="org.wso2.mb.integration.tests.amqp.load.MultiThreadedTopicTestCase"/>
            <class name="org.wso2.mb.integration.tests.amqp.load.MultiThreadedMultipleQueueTestCase"/>
            <class name="org.wso2.mb.integration.tests.amqp.load.MultiThreadedMultipleTopicTestCase"/>
            <class name="org.wso2.mb.integration.tests.amqp.load.MultiThreadedMultipleQueueTopicTestCase"/>-->
        </classes>
    </test>
</suite>
