<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="transport-test-suite">
    <parameter name="useDefaultListeners" value="false"/>
    <test name="tests-transports" preserve-order="true" parallel="false">

        <!--<packages>-->
            <!--<package name="org.wso2.mb.integration.tests.amqp.*"/>-->
        <!--</packages>-->

        <classes>
            <class name="org.wso2.mb.integration.tests.amqp.QueueTestCase" />
            <class name="org.wso2.mb.integration.tests.amqp.TopicTestCase" />
            <class name="org.wso2.mb.integration.tests.amqp.TenantCreateQueueTestCase" />
        </classes>
    </test>
</suite>
